body.theme-dark {
    --background-color: #1e1e1e;
    --text-color: #89978a;
    --header-background: #2b2b2b;
    --sidebar-background: #2b2b2b;
    --footer-background: #2b2b2b;

    --tab-background: #333333; /* Темний фон вкладки */
    --tab-active-background: #1c1d1d; /* Темний активний фон */
    --tab-active-text: #ffffff; /* Білий текст активної вкладки */
    --chat-bg: #1e1e1e;
    --chat-text: #c7d1cb;
    --chat-border: #3a3a3a;
    --chat-header-bg: #2b2b2b;
    --chat-header-text: #ffffff;
    --chat-input-bg: #2b2b2b;
    --chat-button-bg: #4a4a4a;
    --chat-button-text: #ffffff;
    --message-bg-user: #3a3a3a;
    --message-bg-gpt: #2c2c2c;
    --message-bg: #1e1e1e;
    --message-text: #e0e0e0;
    --table-background: #2b2b2b;
    --table-header-background: #333333;
    --table-hover: #3c3c3c;
    --table-border: #444444;    
    }
