.header {
    height: 64px;
    background-color: var(--header-background);
    border-bottom: 1px solid #f0f0f0;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  