
.header {
  flex-shrink: 0;
  height: 64px;
}

.main-area {
  display: flex;
  flex: 1;
  overflow: hidden; /* дуже важливо! */
}

.sidebar {
  width: 250px;
  background-color: var(--sidebar-background);
  border-right: 1px solid #f0f0f0;
  height: 100%;
  padding: 16px;
  flex-shrink: 0;
}

.content-area {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
}

.footer-tabs {
  flex-shrink: 0;
  height: 40px;
  background-color: var(--footer-background);
  border-top: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
  padding: 0 16px;
}
