
html, body, #root {
  height: 100%;
  overflow: hidden;
}

.masterdata-sheet {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.masterdata-table-container {
  flex: 1;
  overflow: auto;
}
